{% extends "base.html" %}
{% block content %}
    <h1>Summary</h1>
    <div>
    <form id="set_dates" method="GET">
        <p><label for="start_date_input">Start Date:</label>
        <input name="start_date_input" type = "date" size = 35 value="{{ startdate_string }}">
        <label for="end_date_input">End Date:</label>
        <input name="end_date_input" type = "date" size = 35 value="{{ enddate_string }}">
        <button type="submit" class="btn btn-default"&gt;>Refresh View</button>
        </p>
    </form>
    </div>
        <div id="food_info">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Total Calories</th>
                    <th>Total Protein</th>
                    <th>Total Carbs</th>
                    <th>Total Fat</th>
                    <th>Total Saturated Fat</th>
                    <th>Total Fiber</th>
                </tr>
            {% for row in object_list %}
                <tr>
                    <td>{{row.cdate}}</td>
                    <td>{{row.total_calories}}</td>
                    <td>{{row.total_protein}}</td>
                    <td>{{row.total_carbs}}</td>
                    <td>{{row.total_total_fat}}</td>
                    <td>{{row.total_sat_fat}}</td>
                    <td>{{row.total_fiber}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}