
{% extends "base.html" %}
{% block content %}
    <h1>Food Info</h1>
    {% if errors %}
    <div id="errors">
        <label name="error_label">FOOD FAILED TO LOAD</label>
        <ul name="error_list">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
        {% if message %}
        <p size=35>{{ message }}</p>
        {% endif %}
        <div id="food_info">
            <table>
                <tr>
                    <th class="description">Food</th>
                    <th class="number">Calories per Unit</th>
                    <th class="number">Protein per Unit</th>
                    <th class="number">Carbs per Unit</th>
                    <th class="number">Total Fat per Unit</th>
                    <th class="number">Saturated Fat per Unit</th>
                    <th class="number">Fiber per Unit</th>
                    <th class="units">Units</th>
                </tr>
            {% for row in object_list %}
                <tr>
                    <td>{{row.description}}</td>
                    <td>{{row.calories_unit}}</td>
                    <td>{{row.protein_unit}}</td>
                    <td>{{row.carbs_unit}}</td>
                    <td>{{row.total_fat_unit}}</td>
                    <td>{{row.sat_fat_unit}}</td>
                    <td>{{row.fiber_unit}}</td>
                    <td>{{row.measurement_unit.description}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}
{% block inputbox %}
<form id="add_food" method="post">
    {% csrf_token %}
    <p><label for="food_input">Enter the food description:</label>
    <input name="food_input" type = "text" size=35></p>
    <p><label for="measurement_input">Select a measurement:</label>
    <select name="measurement_input">
        {% for m_row in m_table %}
        <option value="{{ m_row.id }}">{{m_row.description}}</option>
        {% endfor %}
    </select>
    <label for="measurement_qty_input">Quantity:</label>
    <input name="measurement_qty_input" type="number" size="35" step=".5" value="0">
    </p>
    <p><label for="calorie_input">Enter the calories per measurement:</label>
    <input name="calorie_input" type = "number" size=35 step=".001" value=0></p>
    <p><label for="protein_input">Enter the protein per measurement:</label>
    <input name="protein_input" type = "number" size=35 step=".001" value=0></p>
    <p><label for="carbs_input">Enter the carbs per measurement:</label>
    <input name="carbs_input" type = "number" size=35 step=".001" value=0></p>
    <p><label for="total_fat_input">Enter the total_fat per measurement:</label>
    <input name="total_fat_input" type = "number" size=35 step=".001" value=0></p>
    <p><label for="sat_fat_input">Enter the sat_fat per measurement:</label>
    <input name="sat_fat_input" type = "number" size=35 step=".001" value=0></p>
    <p><label for="fiber_input">Enter the fiber per measurement:</label>
    <input name="fiber_input" type = "number" size=35 step=".001" value=0></p>
<button type="submit" class="btn btn-default"&gt;>Submit</button> 
</form>
{% endblock %}