{% extends "base.html" %}
{% block content %}
    <h1>Summary</h1>
    <div class="date_range"></div>
        <p><label for="start_date">Start Date:</label>
        <input id="start_date" type = "date" size = 35 value="{{ view.kwargs.startdate_string }}">
        <label for="end_date">End Date:</label>
        <input id="end_date" type = "date" size = 35 value="{{ view.kwargs.enddate_string }}"></p>
    </div>
        <div id="food_info">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Total Calories</th>
                    <th>Total Protein</th>
                    <th>Total Carbs</th>
                    <th>Total Fat</th>
                    <th>Total Saturated Fat</th>
                    <th>Total Fiber</th>
                </tr>
            {% for row in object_list %}
                <tr>
                    <td>{{row.cdate}}</td>
                    <td>{{row.total_calories}}</td>
                    <td>{{row.total_protein}}</td>
                    <td>{{row.total_carbs}}</td>
                    <td>{{row.total_total_fat}}</td>
                    <td>{{row.total_sat_fat}}</td>
                    <td>{{row.total_fiber}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}